[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.4"
djangorestframework = "3.14.0"
django-cleanup = "*"
mypy = "*"

[dev-packages]
tqdm = "*"
coverage = "*"
black = "*"
mypy = "*"
django-stubs = "*"
lxml-stubs = "*"
types-requests = "*"
types-tqdm = "*"
djangorestframework-stubs = "*"

[requires]
python_version = "3.9"
